header{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: top center;
    height: 100%;
    border-bottom: 1rem solid #000;
}

.sobre_mim p{
    font-size: 2rem;
}

hr{
    border-color: black;
    width: 50%;
}

i{
    margin: 0.5rem;
    color: white;
}

h1,h2{
    font-family: 'Love Ya Like A Sister', cursive;
     color: white;
}

h1{
    font-size: 7.14rem;
}

.foto-home{
    padding-top: 1rem;
    max-height: 35rem;
}

.rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding-top: 2rem;
    margin-top: 2rem;
    clear: both;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}



